@charset "utf-8";

/*
 * aciTree jQuery Plugin
 * http://acoderinsights.ro
 *
 */

.aciTree {
    outline: none;
}

/* the big loader */
.aciTree.aciTreeLoad {
    background:url(./images/load-root.gif) center center no-repeat;
}

.aciTree .aciTreeUl {
    list-style:none;
    margin:0;
    padding:0;
}
.aciTree .aciTreeLi {
    display:block;
    clear:both;
    white-space:nowrap;
}
.aciTree .aciTreeLi:focus {
    outline:none;
}

.aciTree .aciTreeLi.aciTreeHidden {
    display:none;
}

/* the branch line */
.aciTree .aciTreeBranch {
    padding-left:20px; /* branch indent */
    background:url(./images/tree-branch.png) left 1px repeat-y;
}
.aciTree[dir=rtl] .aciTreeBranch {
    padding-left:0;
    padding-right:20px; /* branch indent */
    background:url(./images/tree-branch.png) right 1px repeat-y;
}
/* if the parent is the last child on his level (this is level based; added for #8 levels, if you need more ... add them as needed) */
.aciTree .aciTreeLi.aciTreeLevel0.aciTreeLast .aciTreeBranch.aciTreeLevel0,
.aciTree .aciTreeLi.aciTreeLevel1.aciTreeLast .aciTreeBranch.aciTreeLevel1,
.aciTree .aciTreeLi.aciTreeLevel2.aciTreeLast .aciTreeBranch.aciTreeLevel2,
.aciTree .aciTreeLi.aciTreeLevel3.aciTreeLast .aciTreeBranch.aciTreeLevel3,
.aciTree .aciTreeLi.aciTreeLevel4.aciTreeLast .aciTreeBranch.aciTreeLevel4,
.aciTree .aciTreeLi.aciTreeLevel5.aciTreeLast .aciTreeBranch.aciTreeLevel5,
.aciTree .aciTreeLi.aciTreeLevel6.aciTreeLast .aciTreeBranch.aciTreeLevel6,
.aciTree .aciTreeLi.aciTreeLevel7.aciTreeLast .aciTreeBranch.aciTreeLevel7,
.aciTree .aciTreeLi.aciTreeLevel8.aciTreeLast .aciTreeBranch.aciTreeLevel8,
.aciTree.aciTreeNoBranches .aciTreeBranch {
    background:none;
}
/* the branch line behind the button (for the siblings) */
.aciTree .aciTreeEntry {
    overflow:hidden;
    background:url(./images/tree-branch.png) left 1px repeat-y;
}
.aciTree[dir=rtl] .aciTreeEntry {
    background:url(./images/tree-branch.png) right 1px repeat-y;
}
.aciTree .aciTreeLi.aciTreeLast>.aciTreeLine .aciTreeEntry,
.aciTree.aciTreeNoBranches .aciTreeEntry {
    background:none;
}

.aciTree.aciTreeBig .aciTreeEntry {
    padding:0 0 2px 0;
}

.aciTree .aciTreeButton, .aciTree .aciTreePush, .aciTree .aciTreeItem, .aciTree .aciTreeIcon, .aciTree .aciTreeText, .aciTree .aciTreeColumn {
    display:inline-block;
    height:20px;
    line-height:20px;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    color:#000;
    vertical-align:top;
}
.aciTree.aciTreeBig .aciTreeText, .aciTree.aciTreeBig .aciTreeColumn {
    font-size:12px;
}

.aciTree .aciTreeDisabled>.aciTreeLine .aciTreeText, .aciTree .aciTreeDisabled>.aciTreeLine .aciTreeColumn {
    color:#888;
}

.aciTree .aciTreeItem {
    padding:0 2px 0 2px;
    border:1px solid transparent;
    height:auto;
    white-space:normal;
    cursor:pointer;
    /* margin-right need to be set to icon width [.aciTree .aciTreeIcon = 20] +
    item padding [.aciTree .aciTreeItem = 4] (+ the width of all columns, if any) */
    margin-right:24px;
}
.aciTree[dir=rtl] .aciTreeItem{
    margin-right:0;
    /* margin-left need to be set to icon width [.aciTree .aciTreeIcon = 20] +
    item padding [.aciTree .aciTreeItem = 4] (+ the width of all columns, if any) */
    margin-left:24px;
}
.aciTree .aciTreeText {
    display:inline;
    height:auto;
}
.aciTree .aciTreeColumn {
    float:right;
    height:auto;
    white-space:normal;
    cursor:default;
}
.aciTree[dir=rtl] .aciTreeColumn {
    float:left;
}

/* columns width/style (left to right, if any) */

.aciTree .aciTreeColumn0 {
    width:80px;
}
.aciTree .aciTreeColumn1 {
    width:60px;
}

/* item selection */

.aciTree .aciTreeLine.aciTreeHover .aciTreeItem {
    background-color:#EFF5FD;
    border:1px dashed #D9D9D9;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.aciTree .aciTreeFocus>.aciTreeLine .aciTreeItem {
    /* not selected but with focus */
    border:1px solid #D9D9D9;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.aciTree .aciTreeSelected>.aciTreeLine .aciTreeItem {
    background-color:#E8E8E8;
    border:1px dashed #D9D9D9;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.aciTree.aciTreeFocus .aciTreeSelected>.aciTreeLine .aciTreeItem {
    background-color:#d0e5fe;
}
.aciTree.aciTreeFocus .aciTreeFocus>.aciTreeLine .aciTreeItem {
    /* not selected but with focus */
    border:1px solid #84acdd;
}
.aciTree.aciTreeFocus .aciTreeSelected.aciTreeFocus>.aciTreeLine .aciTreeItem {
    border:1px dashed #84acdd;
}

/* full row selection */

.aciTree.aciTreeFullRow>.aciTreeUl {
    margin:2px;
}

.aciTree.aciTreeFullRow .aciTreeLine {
    margin:-2px;
    border:1px solid transparent;
}

.aciTree.aciTreeFullRow .aciTreeLine.aciTreeHover .aciTreeItem {
    background:none;
    border:1px solid transparent;
}
.aciTree.aciTreeFullRow .aciTreeFocus>.aciTreeLine {
    /* not selected but with focus */
    border:1px solid #D9D9D9;
}
.aciTree.aciTreeFullRow .aciTreeSelected>.aciTreeLine .aciTreeItem,
.aciTree.aciTreeFullRow .aciTreeFocus>.aciTreeLine .aciTreeItem {
    background:none;
    border:1px solid transparent;
}
.aciTree.aciTreeFullRow.aciTreeFocus .aciTreeSelected>.aciTreeLine .aciTreeItem {
    background:none;
    border:1px solid transparent;
}

.aciTree.aciTreeFullRow .aciTreeLine.aciTreeHover {
    background: #e3edf9;
    background: -moz-linear-gradient(top,  #e3edf9 0%, #9cb7d8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3edf9), color-stop(100%,#9cb7d8));
    background: -webkit-linear-gradient(top,  #e3edf9 0%,#9cb7d8 100%);
    background: -o-linear-gradient(top,  #e3edf9 0%,#9cb7d8 100%);
    background: -ms-linear-gradient(top,  #e3edf9 0%,#9cb7d8 100%);
    background: linear-gradient(to bottom,  #e3edf9 0%,#9cb7d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3edf9', endColorstr='#9cb7d8',GradientType=0 );
}
.aciTree.aciTreeFullRow .aciTreeSelected>.aciTreeLine {
    background: #f4f4f4;
    background: -moz-linear-gradient(top,  #f4f4f4 0%, #c6c6c6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#c6c6c6));
    background: -webkit-linear-gradient(top,  #f4f4f4 0%,#c6c6c6 100%);
    background: -o-linear-gradient(top,  #f4f4f4 0%,#c6c6c6 100%);
    background: -ms-linear-gradient(top,  #f4f4f4 0%,#c6c6c6 100%);
    background: linear-gradient(to bottom,  #f4f4f4 0%,#c6c6c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#c6c6c6',GradientType=0 );
}
.aciTree.aciTreeFullRow.aciTreeFocus .aciTreeFocus>.aciTreeLine {
    /* not selected but with focus */
    border:1px solid #84acdd;
}
.aciTree.aciTreeFullRow.aciTreeFocus .aciTreeSelected>.aciTreeLine {
    border:1px solid transparent;
    background: #d0e5fe;
    background: -moz-linear-gradient(top,  #d0e5fe 0%, #84acdd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e5fe), color-stop(100%,#84acdd));
    background: -webkit-linear-gradient(top,  #d0e5fe 0%,#84acdd 100%);
    background: -o-linear-gradient(top,  #d0e5fe 0%,#84acdd 100%);
    background: -ms-linear-gradient(top,  #d0e5fe 0%,#84acdd 100%);
    background: linear-gradient(to bottom,  #d0e5fe 0%,#84acdd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e5fe', endColorstr='#84acdd',GradientType=0 );
}
.aciTree.aciTreeFullRow.aciTreeFocus .aciTreeSelected>.aciTreeLine.aciTreeHover,
.aciTree.aciTreeFullRow .aciTreeSelected>.aciTreeLine.aciTreeHover {
    background: #c3dbf7;
    background: -moz-linear-gradient(top,  #c3dbf7 0%, #84a9d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3dbf7), color-stop(100%,#84a9d6));
    background: -webkit-linear-gradient(top,  #c3dbf7 0%,#84a9d6 100%);
    background: -o-linear-gradient(top,  #c3dbf7 0%,#84a9d6 100%);
    background: -ms-linear-gradient(top,  #c3dbf7 0%,#84a9d6 100%);
    background: linear-gradient(to bottom,  #c3dbf7 0%,#84a9d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3dbf7', endColorstr='#84a9d6',GradientType=0 );
}

/* checkbox/radio tree */

.aciTree .aciTreeCheckbox label, .aciTree .aciTreeRadio label {
    cursor:pointer;
}
.aciTree .aciTreeCheck {
    width:20px;
    height:20px;
    display:inline-block;
    margin:0 2px 0 2px;
    padding:0;
    vertical-align:text-bottom;
    background:url(./images/tree-check-small.png) 0 0 no-repeat;
}
.aciTree.aciTreeBig .aciTreeCheck {
    background:url(./images/tree-check-big.png) 0 0 no-repeat;
}

.aciTree[dir=rtl] .aciTreeCheck {
    background:url(./images/tree-check-small-rtl.png) 0 0 no-repeat;
}
.aciTree.aciTreeBig[dir=rtl] .aciTreeCheck {
    background:url(./images/tree-check-big-rtl.png) 0 0 no-repeat;
}

.aciTree .aciTreeCheckbox>.aciTreeLine .aciTreeCheck { background-position:-5px -65px; }
.aciTree .aciTreeCheckbox.aciTreeChecked>.aciTreeLine .aciTreeCheck { background-position:-5px -5px; }
.aciTree .aciTreeCheckbox.aciTreeChecked.aciTreeTristate>.aciTreeLine .aciTreeCheck { background-position:-5px -35px; }

.aciTree .aciTreeCheckbox>.aciTreeLine.aciTreeHover .aciTreeCheck { background-position:-35px -65px; }
.aciTree .aciTreeCheckbox.aciTreeChecked>.aciTreeLine.aciTreeHover .aciTreeCheck { background-position:-35px -5px; }
.aciTree .aciTreeCheckbox.aciTreeChecked.aciTreeTristate>.aciTreeLine.aciTreeHover .aciTreeCheck { background-position:-35px -35px; }

.aciTree .aciTreeCheckbox.aciTreeDisabled>.aciTreeLine .aciTreeCheck { background-position:-65px -65px; }
.aciTree .aciTreeCheckbox.aciTreeDisabled.aciTreeChecked>.aciTreeLine .aciTreeCheck { background-position:-65px -5px; }
.aciTree .aciTreeCheckbox.aciTreeDisabled.aciTreeChecked.aciTreeTristate>.aciTreeLine .aciTreeCheck { background-position:-65px -35px; }

.aciTree .aciTreeRadio>.aciTreeLine .aciTreeCheck { background-position:-95px -65px; }
.aciTree .aciTreeRadio.aciTreeChecked>.aciTreeLine .aciTreeCheck { background-position:-95px -5px; }
.aciTree .aciTreeRadio.aciTreeChecked.aciTreeTristate>.aciTreeLine .aciTreeCheck { background-position:-95px -35px; }

.aciTree .aciTreeRadio>.aciTreeLine.aciTreeHover .aciTreeCheck { background-position:-125px -65px; }
.aciTree .aciTreeRadio.aciTreeChecked>.aciTreeLine.aciTreeHover .aciTreeCheck { background-position:-125px -5px; }
.aciTree .aciTreeRadio.aciTreeChecked.aciTreeTristate>.aciTreeLine.aciTreeHover .aciTreeCheck { background-position:-125px -35px; }

.aciTree .aciTreeRadio.aciTreeDisabled>.aciTreeLine .aciTreeCheck { background-position:-155px -65px; }
.aciTree .aciTreeRadio.aciTreeDisabled.aciTreeChecked>.aciTreeLine .aciTreeCheck { background-position:-155px -5px; }
.aciTree .aciTreeRadio.aciTreeDisabled.aciTreeChecked.aciTreeTristate>.aciTreeLine .aciTreeCheck { background-position:-155px -35px; }

/* inplace editable */

.aciTree .aciTreeEdited input[type=text] {
    outline: none;
    border:1px solid #000;
    padding:0;
    margin:0;
    line-height:18px;
    height:18px;
    display:inline-block;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    color:#000;
    vertical-align:top;
}
.aciTree.aciTreeBig .aciTreeEdited input[type=text] {
    font-size:12px;
}

/* sortable items */

.aciTree .aciTreeChild {
    height:0;
    line-height:0;
}

.aciTree .aciTreePlaceholder {
    height:0;
    line-height:0;
    overflow:visible;
    position:relative;
}

.aciTree .aciTreePlaceholder div {
    position:absolute;
    left:0;
    width:16px;
    height:16px;
    margin-left:20px;
    background:#fff url(./images/drag-drop.png) -7px -37px no-repeat;
    border:1px solid #999;
}

.aciTree[dir=rtl] .aciTreePlaceholder div {
    background:#fff url(./images/drag-drop-rtl.png) -7px -37px no-repeat;
}

.aciTree .aciTreeChild .aciTreePlaceholder div {
    top:-20px;
    left:-20px;
}
.aciTree.aciTreeBig .aciTreeChild .aciTreePlaceholder div {
    top:-22px;
}

.aciTree .aciTreePlaceholder.aciTreeBefore div {
    top:2px;
    background-position:-7px -7px !important;
}

.aciTree .aciTreePlaceholder.aciTreeAfter div {
    top:-20px;
    background-position:-7px -67px !important;
}
.aciTree.aciTreeBig .aciTreePlaceholder.aciTreeAfter div {
    top:-22px;
}

.aciTree.aciTreeDragDrop .aciTreeItem, .aciTree.aciTreeDragDrop .aciTreeColumn,
.aciTree.aciTreeDragDrop .aciTreeCheckbox label, .aciTree.aciTreeDragDrop .aciTreeRadio label {
    cursor:inherit !important;
}

/* this is level based; added for #8 levels, if you need more ... add them as needed */
.aciTree .aciTreeLi.aciTreeLevel0 .aciTreePlaceholder div { margin-left:40px; }
.aciTree .aciTreeLi.aciTreeLevel1 .aciTreePlaceholder div { margin-left:60px; }
.aciTree .aciTreeLi.aciTreeLevel2 .aciTreePlaceholder div { margin-left:80px; }
.aciTree .aciTreeLi.aciTreeLevel3 .aciTreePlaceholder div { margin-left:100px; }
.aciTree .aciTreeLi.aciTreeLevel4 .aciTreePlaceholder div { margin-left:120px; }
.aciTree .aciTreeLi.aciTreeLevel5 .aciTreePlaceholder div { margin-left:140px; }
.aciTree .aciTreeLi.aciTreeLevel6 .aciTreePlaceholder div { margin-left:160px; }
.aciTree .aciTreeLi.aciTreeLevel7 .aciTreePlaceholder div { margin-left:180px; }
.aciTree .aciTreeLi.aciTreeLevel8 .aciTreePlaceholder div { margin-left:200px; }

.aciTree[dir=rtl] .aciTreePlaceholder div {
    left:auto;
    right:0;
    margin-left:0;
    margin-right:20px;
}

.aciTree .aciTreeChild .aciTreePlaceholder div {
    right:-20px;
}

/* this is level based; added for #8 levels, if you need more ... add them as needed */
.aciTree[dir=rtl] .aciTreeLi.aciTreeLevel0 .aciTreePlaceholder div { margin-right:40px; }
.aciTree[dir=rtl] .aciTreeLi.aciTreeLevel1 .aciTreePlaceholder div { margin-right:60px; }
.aciTree[dir=rtl] .aciTreeLi.aciTreeLevel2 .aciTreePlaceholder div { margin-right:80px; }
.aciTree[dir=rtl] .aciTreeLi.aciTreeLevel3 .aciTreePlaceholder div { margin-right:100px; }
.aciTree[dir=rtl] .aciTreeLi.aciTreeLevel4 .aciTreePlaceholder div { margin-right:120px; }
.aciTree[dir=rtl] .aciTreeLi.aciTreeLevel5 .aciTreePlaceholder div { margin-right:140px; }
.aciTree[dir=rtl] .aciTreeLi.aciTreeLevel6 .aciTreePlaceholder div { margin-right:160px; }
.aciTree[dir=rtl] .aciTreeLi.aciTreeLevel7 .aciTreePlaceholder div { margin-right:180px; }
.aciTree[dir=rtl] .aciTreeLi.aciTreeLevel8 .aciTreePlaceholder div { margin-right:200px; }

.aciTreeHelper {
    position:absolute;
    max-width:300px;
    color:#000;
    background-color:#d0e5fe;
    border:1px dashed #84acdd;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    padding:4px;
    margin:20px 0 0 20px;
}

/* default - item in the middle (comment the hover part to keep the same button image) */

.aciTree .aciTreeButton, .aciTree .aciTreePush {
    width:18px;
    background:url(./images/tree-small.png) -7px -35px no-repeat;
}
.aciTree.aciTreeBig .aciTreeButton, .aciTree.aciTreeBig .aciTreePush {
    background:url(./images/tree-big.png) -7px -35px no-repeat;
}

.aciTree[dir=rtl] .aciTreeButton, .aciTree[dir=rtl] .aciTreePush {
    background:url(./images/tree-small-rtl.png) -7px -35px no-repeat;
}
.aciTree.aciTreeBig[dir=rtl] .aciTreeButton, .aciTree.aciTreeBig[dir=rtl] .aciTreePush {
    background:url(./images/tree-big-rtl.png) -7px -35px no-repeat;
}

.aciTree.aciTreeArrow .aciTreeButton, .aciTree.aciTreeArrow .aciTreePush {
    background:url(./images/tree-arrow-small.png) -7px -35px no-repeat;
}
.aciTree.aciTreeBig.aciTreeArrow .aciTreeButton, .aciTree.aciTreeBig.aciTreeArrow .aciTreePush {
    background:url(./images/tree-arrow-big.png) -7px -35px no-repeat;
}

.aciTree.aciTreeArrow[dir=rtl] .aciTreeButton, .aciTree.aciTreeArrow[dir=rtl] .aciTreePush {
    background:url(./images/tree-arrow-small-rtl.png) -7px -35px no-repeat;
}
.aciTree.aciTreeBig.aciTreeArrow[dir=rtl] .aciTreeButton, .aciTree.aciTreeBig.aciTreeArrow[dir=rtl] .aciTreePush {
    background:url(./images/tree-arrow-big-rtl.png) -7px -35px no-repeat;
}

.aciTree.aciTreeNoBranches .aciTreeButton,
.aciTree .aciTreeLeaf>.aciTreeLine .aciTreePush { background:none !important; }

.aciTree .aciTreeInodeMaybe>.aciTreeLine .aciTreePush { background-position:-67px -5px !important; }
.aciTree .aciTreeInodeMaybe>.aciTreeLine .aciTreePush.aciTreeHover { background-position:-67px -35px !important; }
.aciTree .aciTreeInode>.aciTreeLine .aciTreePush { background-position:-97px -5px !important; }
.aciTree .aciTreeInode>.aciTreeLine .aciTreePush.aciTreeHover { background-position:-97px -35px !important; }
.aciTree .aciTreeOpen>.aciTreeLine .aciTreePush { background-position:-127px -5px !important; }
.aciTree .aciTreeOpen>.aciTreeLine .aciTreePush.aciTreeHover { background-position:-127px -35px !important; }

/* if it's the last item in list */

.aciTree .aciTreeLi.aciTreeLast>.aciTreeLine .aciTreeButton { background-position:-37px -5px !important; }

/* the item loader */

.aciTree .aciTreePush>span {
    display:none;
    position:absolute;
    width:18px;
    height:18px;
    left:0;
    top:2px;
    background:url(./images/load-node.gif) 0 0 no-repeat;
}
.aciTree .aciTreeLoad>.aciTreeLine .aciTreePush {
    position:relative;
    /* uncomment next line to hide the button while loading */
    /*background:none !important;*/
}
.aciTree .aciTreeLoad>.aciTreeLine .aciTreePush>span {
    display:inline-block;
}

/* tree item icon */

.aciTree .aciTreeIcon {
    width:20px;
    background:url(./images/tree-small.png) 0 0 no-repeat;
}
.aciTree.aciTreeBig .aciTreeIcon {
    background:url(./images/tree-big.png) 0 0 no-repeat;
}

.aciTree[dir=rtl] .aciTreeIcon {
    width:16px;
    margin-left:4px;
    background:url(./images/tree-small-rtl.png) 0 0 no-repeat;
}
.aciTree.aciTreeBig[dir=rtl] .aciTreeIcon {
    background:url(./images/tree-big-rtl.png) 0 0 no-repeat;
}

.aciTree.aciTreeArrow .aciTreeIcon { background:url(./images/tree-arrow-small.png) 0 0 no-repeat; }
.aciTree.aciTreeBig.aciTreeArrow .aciTreeIcon { background:url(./images/tree-arrow-big.png) 0 0 no-repeat; }

.aciTree.aciTreeArrow[dir=rtl] .aciTreeIcon { background:url(./images/tree-arrow-small-rtl.png) 0 0 no-repeat; }
.aciTree.aciTreeBig.aciTreeArrow[dir=rtl] .aciTreeIcon { background:url(./images/tree-arrow-big-rtl.png) 0 0 no-repeat; }

/* demo file/folder icon class */

.aciTree .aciTreeIcon.folder {
    background-position:-157px -5px !important;
}
.aciTree .aciTreeLine.aciTreeHover .aciTreeIcon.folder {
    /* comment next line to keep the same icon on hover */
    background-position:-157px -35px !important;
}
.aciTree .aciTreeIcon.file {
    background-position:-187px -5px !important;
}
.aciTree .aciTreeLine.aciTreeHover .aciTreeIcon.file {
    /* comment next line to keep the same icon on hover */
    background-position:-187px -35px !important;
}

/* demo row colors */

.aciTree.aciTreeColors .aciTreeOdd>.aciTreeLine {
    /* odd rows */
    background-color:#FFFFC4;
}
.aciTree.aciTreeColors .aciTreeEven>.aciTreeLine {
    /* even rows */
    background-color:#CAFFCA;
}
.aciTree.aciTreeColors .aciTreeFirst>.aciTreeLine {
    /* first item on each level */
    /*background-color:#B0DFFF;*/
}
.aciTree.aciTreeColors .aciTreeLast>.aciTreeLine {
    /* last item on each level */
    /*background-color:#FFCEFF;*/
}

/* uncomment below to keep the item in one line and scroll the tree horizontally when needed */

/*

.aciTree .aciTreeEntry {
    overflow:visible;
}

.aciTree .aciTreeItem {
    white-space:nowrap;
    margin-right:12px;
}

*/




/**
 * Handsontable 0.11.0-beta3
 * Handsontable is a simple jQuery plugin for editable tables with basic copy-paste compatibility with Excel and Google Docs
 *
 * Copyright 2012-2014 Marcin Warpechowski
 * Licensed under the MIT license.
 * http://handsontable.com/
 *
 * Date: Fri Jul 25 2014 11:41:59 GMT+0200 (CEST)
 */

.handsontable {
  position: relative;
}

.handsontable .relative {
  position: relative;
}

.handsontable.htAutoColumnSize {
  visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
}

.handsontable table,
.handsontable tbody,
.handsontable thead,
.handsontable td,
.handsontable th,
.handsontable div {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}

.handsontable table.htCore {
  border-collapse: separate;
  /*it must be separate, otherwise there are offset miscalculations in WebKit: http://stackoverflow.com/questions/2655987/border-collapse-differences-in-ff-and-webkit*/
  position: relative;
  /*this actually only changes appearance of user selection - does not make text unselectable
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  /*user-select: none; /*no browser supports unprefixed version*/
  border-spacing: 0;
  margin: 0;
  border-width: 0;
  table-layout: fixed;
  width: 0;
  outline-width: 0;
  /* reset bootstrap table style. for more info see: https://github.com/handsontable/jquery-handsontable/issues/224 */
  max-width: none;
  max-height: none;
}

.handsontable col {
  width: 50px;
}

.handsontable col.rowHeader {
  width: 50px;
}

.handsontable th,
.handsontable td {
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  height: 22px;
  empty-cells: show;
  line-height: 21px;
  padding: 0 4px 0 4px;
  /* top, bottom padding different than 0 is handled poorly by FF with HTML5 doctype */
  background-color: #FFF;
  vertical-align: top;
  overflow: hidden;
  outline-width: 0;
  white-space: pre-line;
  /* preserve new line character in cell */
}

.handsontable td.htInvalid {
  -webkit-transition: background 0.75s ease;
  transition: background 0.75s ease;
  background-color: #ff4c42;
}

.handsontable td.htNoWrap {
  white-space: nowrap;
}

.handsontable th:last-child {
  /*Foundation framework fix*/
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.handsontable tr:first-child th.htNoFrame,
.handsontable th:first-child.htNoFrame,
.handsontable th.htNoFrame {
  border-left-width: 0;
  background-color: white;
  border-color: #FFF;
}

.handsontable th:first-child,
.handsontable td:first-child,
.handsontable .htNoFrame + th,
.handsontable .htNoFrame + td {
  border-left: 1px solid #CCC;
}

.handsontable tr:first-child th,
.handsontable tr:first-child td {
  border-top: 1px solid #CCC;
}

.handsontable thead tr:last-child th {
  border-bottom-width: 0;
}

.handsontable thead tr.lastChild th {
  border-bottom-width: 0;
}

.handsontable th {
  background-color: #EEE;
  color: #222;
  text-align: center;
  font-weight: normal;
  white-space: nowrap;
}

.handsontable thead th {
  padding: 0;
}

.handsontable th.active {
  background-color: #CCC;
}

.handsontable thead th .relative {
  padding: 2px 4px;
}

/* plugins */

.handsontable .manualColumnMover {
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  width: 5px;
  height: 25px;
  z-index: 999;
  cursor: move;
}

.handsontable .manualRowMover {
  position: absolute;
  left: -4px;
  top: 0;
  background-color: transparent;
  height: 5px;
  width: 50px;
  z-index: 999;
  cursor: move;
}

.handsontable .manualColumnMover:hover,
.handsontable .manualColumnMover.active,
.handsontable .manualRowMover:hover,
.handsontable .manualRowMover.active{
  background-color: #88F;
}

/* row + column resizer*/

.handsontable .manualColumnResizer {
  position: absolute;
  top: 0;
  cursor: col-resize;
  z-index: 100;
}

.handsontable .manualColumnResizerHandle {
  background-color: transparent;
  width: 5px;
  height: 25px;
}

.handsontable .manualRowResizer {
  position: absolute;
  left: 0;
  cursor: row-resize;
  z-index: 100;
}

.handsontable .manualRowResizerHandle {
  background-color: transparent;
  height: 5px;
  width: 50px;
}

.handsontable .manualColumnResizer:hover .manualColumnResizerHandle,
.handsontable .manualColumnResizer.active .manualColumnResizerHandle,
.handsontable .manualRowResizer:hover .manualRowResizerHandle,
.handsontable .manualRowResizer.active .manualRowResizerHandle {
  background-color: #AAB;
}

.handsontable .manualColumnResizerLine {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #AAB;
  display: none;
  width: 0;
  border-right: 1px dashed #777;
}

.handsontable .manualRowResizerLine {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #AAB;
  display: none;
  width: 0;
  border-bottom: 1px dashed #777;
}

.handsontable .manualColumnResizer.active .manualColumnResizerLine,
.handsontable .manualRowResizer.active .manualRowResizerLine {
  display: block;
}

.handsontable .columnSorting:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* border line */

.handsontable .wtBorder {
  position: absolute;
  font-size: 0;
}
.handsontable .wtBorder.hidden{
  display:none !important;
}

.handsontable td.area {
  background-color: #EEF4FF;
}

/* fill handle */

.handsontable .wtBorder.corner {
  font-size: 0;
  cursor: crosshair;
}

.handsontable .htBorder.htFillBorder {
  background: red;
  width: 1px;
  height: 1px;
}

.handsontableInput {
  border: 2px solid #5292F7;
  outline-width: 0;
  margin: 0;
  padding: 1px 4px 0 2px;
  font-family: Arial, Helvetica, sans-serif;
  /*repeat from .handsontable (inherit doesn't work with IE<8) */
  line-height: 1.3em;
  /*repeat from .handsontable (inherit doesn't work with IE<8) */
  font-size: inherit;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  resize: none;
  /*below are needed to overwrite stuff added by jQuery UI Bootstrap theme*/
  display: inline-block;
  color: #000;
  border-radius: 0;
  background-color: #FFF;
  /*overwrite styles potentionally made by a framework*/
}

.handsontableInputHolder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.htSelectEditor {
  -webkit-appearance: menulist-button !important;
  position: absolute;
}

/*
TextRenderer readOnly cell
*/

.handsontable .htDimmed {
  color: #777;
}

/*
TextRenderer horizontal alignment
*/
.handsontable .htLeft{
  text-align: left;
}
.handsontable .htCenter{
  text-align: center;
}
.handsontable .htRight{
  text-align: right;
}
.handsontable .htJustify{
  text-align: justify;
}
/*
TextRenderer vertical alignment
*/
.handsontable .htTop{
  vertical-align: top;
}
.handsontable .htMiddle{
  vertical-align: middle;
}
.handsontable .htBottom{
  vertical-align: bottom;
}

/*
TextRenderer placeholder value
*/

.handsontable .htPlaceholder {
  color: #999;
}

/*
AutocompleteRenderer down arrow
*/

.handsontable .htAutocompleteArrow {
  float: right;
  font-size: 10px;
  color: #EEE;
  cursor: default;
  width: 16px;
  text-align: center;
}

.handsontable td .htAutocompleteArrow:hover {
  color: #777;
}

/*
CheckboxRenderer
*/

.handsontable .htCheckboxRendererInput.noValue {
  opacity: 0.5;
}

/*
NumericRenderer
*/

.handsontable .htNumeric {
  text-align: right;
}

/*
Comment For Cell
*/
.htCommentCell{
  position: relative;
}
.htCommentCell:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-left: 6px solid transparent;
  /*border-right: 5px solid transparent;*/

  border-top: 6px solid red;
}

/*context menu rules*/

ul.context-menu-list {
  color: black;
}

ul.context-menu-list li {
  margin-bottom: 0;
  /*Foundation framework fix*/
}

/**
 * Handsontable in Handsontable
 */

.handsontable .handsontable .wtHider {
  padding: 0 0 5px 0;
}

.handsontable .handsontable table {
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

/**
* Autocomplete Editor
*/
.handsontable .autocompleteEditor.handsontable {
  padding-right: 15px;
}

/**
 * Handsontable listbox theme
 */

.handsontable.listbox {
  margin: 0;
}

.handsontable.listbox .ht_master table {
  border: 1px solid #ccc;
  border-collapse: separate;
  background: white;
}

.handsontable.listbox th,
.handsontable.listbox tr:first-child th,
.handsontable.listbox tr:last-child th,
.handsontable.listbox tr:first-child td,
.handsontable.listbox td {
  border-width: 0;
}

.handsontable.listbox th,
.handsontable.listbox td {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.handsontable.listbox td.htDimmed {
  cursor: default;
  color: inherit;
  font-style: inherit;
}

.handsontable.listbox .wtBorder {
  visibility: hidden;
}

.handsontable.listbox tr td.current,
.handsontable.listbox tr:hover td {
  background: #eee;
}

.htContextMenu {
  display: none;
  position: absolute;
}

.htContextMenu .ht_clone_top,
.htContextMenu .ht_clone_left,
.htContextMenu .ht_clone_corner {
  display: none;
}

.htContextMenu table.htCore {
  outline: 1px solid #bbb;
}

.htContextMenu .wtBorder {
  visibility: hidden;
}

.htContextMenu table tbody tr td {
  background: white;
  border-width: 0;
  padding: 4px 6px 0px 6px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.htContextMenu table tbody tr td:first-child {
  border: 0;
}

.htContextMenu table tbody tr td.htDimmed{
  font-style: normal;
  color: #323232;
}

.htContextMenu table tbody tr td.current{
  background: rgb(233, 233, 233);
}

.htContextMenu table tbody tr td.htSeparator {
  border-top: 1px solid #bbb;
  height: 0;
  padding: 0;
}

.htContextMenu table tbody tr td.htDisabled {
  color: #999;
}

.htContextMenu table tbody tr td.htDisabled:hover {
  background: white;
  color: #999;
  cursor: default;
}

.htContextMenu button{
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  height: 20px;
  padding: 0 5px;
  margin: 0 1px 0 0;
  margin-bottom: 5px;
}
.htContextMenu button:first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.htContextMenu button:last-child{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.handsontable td.htSearchResult {
  background: #fcedd9;
  color: #583707;
}

/*
Cell borders
*/
.htBordered{
  /*box-sizing: border-box !important;*/
  border-width: 1px;
}
.htBordered.htTopBorderSolid{
  border-top-style: solid;
  border-top-color: #000;
}
.htBordered.htRightBorderSolid{
  border-right-style: solid;
  border-right-color: #000;
}
.htBordered.htBottomBorderSolid{
  border-bottom-style: solid;
  border-bottom-color: #000;
}
.htBordered.htLeftBorderSolid{
  border-left-style: solid;
  border-left-color: #000;
}

/*WalkontableDebugOverlay*/

.wtDebugHidden {
  display: none;
}

.wtDebugVisible {
  display: block;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: wtFadeInFromNone;
  animation-duration: 0.5s;
  animation-name: wtFadeInFromNone;
}

@keyframes wtFadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes wtFadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Lucida, sans-serif;
  background-color: #F7F7F7;
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 105%;
}
 
h3 {
  font-size: 90%;
}

a  {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.title {
  background-color: #3030FF;
  margin: 0;
  padding: 8px 10px;
  color: white;
  font-size: 115%;
  font-weight: bold;
  white-space: nowrap;
}

.textcontent {  
  margin: 0px;
  padding: 10px;
  padding-top: 0px;
}

#content {
  font-size: 90%;
  margin: 0;
  padding: 0;
}

#content p {
  margin: 0;
  padding: 0;
}

#status {
  background: #FFD;
  padding: 5px;
  margin: 0px;
}

#drop_zone {
  padding: 25px;
  border: 1px dashed black;
  background-color: white;
}

.toolbarMenu {
  text-align: left;
  display: none;
  position: absolute;
  padding: 15px 35px 0px 5px;
  background-color: lightgray;
  border: 1px solid black;
  right: 5px;
  z-index: 1000;
  font-weight: normal;
  font-size: 80%;
}

.toolbarMenu a {
  display: block;
  text-decoration: none;
}

.toolbarMenu a:hover {
  text-decoration: underline;
}

.toolbaricon {
  color: blue;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  top: -6px;
}

.toolbaricon-withmenu:hover .toolbarMenu {
  display: block;  
}

.toolbaricon:hover {
  background-color: lightblue;
  text-decoration: none;
}

.treeicon-text {
  background: url(./images/treeicons.png) no-repeat 0 0 !important;
}

.treeicon-table {
  background: url(./images/treeicons.png) no-repeat -20px 0 !important;
}

.treeicon-line {
  background: url(./images/treeicons.png) no-repeat -40px 0 !important;
}

.treeicon-bar {
  background: url(./images/treeicons.png) -60px 0 no-repeat !important;
}
.treeicon-pie {
  background: url(./images/treeicons.png) -80px 0 no-repeat !important;
}

.toolbaricon-any {
  width: 16px;
  height: 16px;
  margin: 8px;
  text-decoration: none;
}

.toolbaricon-any:hover {
  text-decoration: none;
}

.toolbaricon-save {
  background: url(./images/toolbaricons.png) no-repeat 0 0 !important;
}

.toolbaricon-package {
  background: url(./images/toolbaricons.png) no-repeat -16px 0 !important;
}

.toolbaricon-print {
  background: url(./images/toolbaricons.png) no-repeat -32px 0 !important;
}

.toolbaricon-info {
  background: url(./images/toolbaricons.png) no-repeat -48px 0 !important;
}

.toolbaricon-left {
  background: url(./images/toolbaricons.png) no-repeat -64px 0 !important;
}

.toolbaricon-right {
  background: url(./images/toolbaricons.png) no-repeat -80px 0 !important;
}

.toolbaricon-text {
  background: url(./images/toolbaricons.png) no-repeat -96px 0 !important;
}

.toolbaricon-table {
  background: url(./images/toolbaricons.png) no-repeat -112px 0 !important;
}

.toolbaricon-line {
  background: url(./images/toolbaricons.png) no-repeat -128px 0 !important;
}

.toolbaricon-bar {
  background: url(./images/toolbaricons.png) no-repeat -144px 0 !important;
}

.toolbaricon-pie {
  background: url(./images/toolbaricons.png) no-repeat -160px 0 !important;
}

.handsontable col.rowHeader {
  width: 230px;
  font-size: 65%;
}

.handsontable th div {
  text-align: left;
  font-size: 65%;
}

@media print {
  .noprint {
    display: none;
  }
}