body {font-family: Verdana, Lucida, sans-serif; background-color: #F0F0FF; margin: 5px; font-size: large;}
ul.big li {margin-bottom: 5px;}
ol.big li {margin-bottom: 5px;}
ul.medium li {margin-bottom: 3px;}
ol.medium li {margin-bottom: 3px;}
a {text-decoration: none; border: 0;}
a.box {margin-top: 10px; margin-botton: 10px; background-color: #DDDDDD; padding: 5px;}
div.menu, div.model, div.plaininfo {background-color: #EEEEEE;}
h2 {margin-bottom: 0px;}
p.red {color: red;}
img {border: 0px;}

